@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-float {
        animation: float 6s ease-in-out infinite;
    }

    .animate-float-delayed {
        animation: float 6s ease-in-out 3s infinite;
    }

    .animate-float-slow {
        animation: float 8s ease-in-out 1s infinite;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@layer base {
    :root {
        --font-h1: 1rem;
        --font-subtitle: 0.9rem;
        --font-p: 10px;
    }

    h1 {
        font-size: var(--font-h1);
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    .subtitle {
        font-size: var(--font-subtitle);
    }

    p {
        font-size: var(--font-p);
    }
}

@layer components {

    /* Custom Centralized Container */
    .layout-container {
        @apply w-[90%] md:w-[80%] mx-auto;
    }
}