@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-float {
        animation: float 6s ease-in-out infinite;
    }

    .animate-float-delayed {
        animation: float 6s ease-in-out 3s infinite;
    }

    .animate-float-slow {
        animation: float 8s ease-in-out 1s infinite;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@layer base {
    body {
        @apply text-sm text-slate-800 bg-slate-50 antialiased;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-slate-900 tracking-tight;
    }
}

@layer components {

    /* Custom Centralized Container */
    .layout-container {
        @apply w-[90%] md:w-[80%] mx-auto;
    }
}