@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-h1: 1rem;
        --font-subtitle: 0.9rem;
        --font-p: 10px;
    }

    h1 {
        font-size: var(--font-h1);
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    .subtitle {
        font-size: var(--font-subtitle);
    }

    p {
        font-size: var(--font-p);
    }
}

@layer components {

    /* Custom Centralized Container */
    .layout-container {
        @apply w-[90%] md:w-[80%] mx-auto;
    }
}